body {
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color:#f0e2e5;
}

.modal {
    width: 350px;
    height: 300px;
    border-radius: 50px;
    background: #f0e2e5;
    box-shadow:  7px 7px 14px #a19799, 
             -7px -7px 14px #ffffff;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: 40px;
}