body,html {
    margin: 0;
}
.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.pop_up{
    width: 500px;
    height: 200px;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black,-5px -5px 20px white;

}
h1 {
    font-size: 60px;
}